@page "/details/{id:int}"
@model DetailsModel

<h1>@Model.News.Title</h1>

<div class="container">
    <div>
        <img src="~/img/@Model.News.Photo" class="img-fluid" alt="@Model.News.Title" />
    </div>
    <div class="mt-3">
        <p>@Model.News.Text</p>
    </div>
</div>
