@page "/Ekonomi"
@model EkonomiModel

<h1>Ekonomi Haberleri</h1>

<div class="row">
    @foreach (var news in Model.NewsList)
    {
        <div class="col-md-6 mb-4">
            <div class="card">
                <a href="/Details/@news.Id">
                    <img src="~/img/@news.Photo" class="card-img-top" alt="@news.Title">
                    <div class="card-body">
                        <h5 class="card-title">@news.Title</h5>
                        
                    </div>
                </a>
            </div>
        </div>
    }
</div>